.registration {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   h2 {
      font-size: 2rem;
      font-weight: 500;
		text-align: center;
      color: var(--main-text-color);
   }

   form {

      input[type=text],
      button[type=submit] {
         display: block;
         border: solid var(--main-text-color) 1px;
         border-radius: 5px;
         font-size: 1rem;
         height: 2rem;
         width: min(20rem, 100vw);
         margin: calc(var(--ident-size) / 2);
         background-color: var(--secondary-color);
      }

      input[type=text] {
         padding: 0 var(--ident-size);
      }
   }
}

@media (max-width: 20rem) {
	.registration{
		form {
			input[type=text],
      	button[type=submit] {
				margin: 0;
				border-radius: 0;

				border: 0;
				border-top: solid var(--main-text-color) 1px;
			}
		}
	}
}

.error {
	margin: 0 calc(var(--ident-size) / 2);
	padding-top: var(--ident-size);
	border: solid var(--secondary-color) 1px;
	text-align: center;
	
	>* {
		padding-bottom: var(--ident-size);
	}
}