.hello {
   background-size: cover;
   background-position: center top;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   span {
      display: block;
      text-align: center;
      font-size: 3rem;
      color: var(--secondary-text-color);
      padding-bottom: calc(var(--ident-size) * 3);
   }
}